.heading{
box-shadow:5px 5px 5px grey;
margin: 0;
font-size:20px;
width: 100%;
}

.copy_right_footer{
    position:fixed;
    bottom:0;
    background-color: grey;
    width: 100%;
    line-height: 3;
    text-align: center;
    color: whitesmoke;
}

canvas{
    border:5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}

.note {
    color: red;
    font-size: 13px
}
body {
    background-image: url("doodle.webp");
}
